<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QXFFreeImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B854EB011C032CB3004E722A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B854EB1A1C032CB3004E722A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B854EB251C032CB3004E722A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
